:root{
	--ingresar-div:10vmin;
	--inicio-span: 6vmin;
	--saldo:10vmin;
	--formulario-input:4vmin;
	--formulario-button:3vmin;
}

.fondo{
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	filter:blur(2px);
	z-index:-1;
}

#ingresar, #inicio, #cargar{
	width:100vw;
	height:100vh;
	position:fixed;
	top:0;
	right:0;
	left:0;
	bottom:0;
	text-align:center;
	font-family:Helvetica, 'Sans serif';
	color:#ffffff;
	text-shadow:1px 1px 1px #000000;
	font-weight:800;
	box-sizing:border-box;
}
	
#ingresar div{
	position:absolute;
	font-size:var(--ingresar-div);
	top:35vmin;
	left:0;
	width:100vw;
}

#inicio span{
	position:absolute;
	top:35vh;
	left:0;
	width:100%;
	text-align:center;
	font-size: var(--inicio-span);
}

#inicio .cargando{
	width:18vw;
	height:18vw;
	position:absolute;
	top:60vh;
	left:calc(50% - 9vw);
	z-index: 1;
}

#inicioReintento{
	position:absolute;
	bottom:5vh;
	top:unset !important;
	font-size:calc( var(--inicio-span) - 60%) !important;
}

.saldo{
	font-size:var(--saldo);
	font-weight:bold;
	margin:10vmin 0;
}

.formulario{
	background-color:#808080a1;
	padding:2vmin 0;
	margin:0 30vw;
}

input{
	width:calc(100% - 4vmin);
	padding:2vmin;
	margin:0 2vmin;
	border:none;
	box-sizing:border-box;
	font-size:var(--formulario-input);
	text-align:right;
	font-weight:bold;
}

button{
	margin-top:10px;
	padding: 10px 20px;
	border:none;
	font-size:var(--formulario-button);
}

button:hover{
	filter:brightness(80%);
	cursor:pointer;
}