html{
	cursor:none !important;
	-moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

:root{
	/*Tamanios de fuentes*/
	--ingresar: 					530%;
	--inicio: 						150%;
	--inicio-span: 					210%;
	--saldo: 						300%;
	--nombre-span: 					4em;
	--nombre-div: 					300%;
	--total: 						400%;
	--caudal: 						650%;
	--thead-tr: 					160%;
	--td:				 			120%;
	--adminEditar-h3: 				265%;
	--adminEditar-table: 			120%;
	--input: 						110%;
	--btnEditar:		 			130%;
	--btnTerminar: 					8vmin;
	--msjRetire: 					8vmin;

	/*Duracion de animaciones*/
	--saldo-animation:				200ms;
	--cervezas-animation:			200ms;

}

/* Estilos generales */
.fondo{
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	/*filter:blur(2px);*/
	z-index:-1;
}

#inicio, #ingresar, #cervezas, #admin{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100vw;
	height:100vh;
}

div, span, button, h3, thead tr, input{
	font-family: sans-serif;
	font-weight:600;
	color:white;
	text-shadow:1px 2px 0px #000000;
	text-align:center;
	box-sizing: border-box;
}

/* Ventana ingresar */	
#ingresar div{
	position:absolute;
	font-size:var(--ingresar);
	top:35vh;
	left:0;
	width:100vw;
}

/* Ventana inicio */
#inicio{
	font-size:var(--inicio);
	width:100%;
	height:100vh;
	text-shadow:1px 8px 2px #000000;
}

#inicio span{
	position:absolute;
	font-size:var(--inicio-span);
	top:35vh;
	left:0;
	width:100vw;
}

#inicio .cargando{
	width:18vw;
	height:18vw;
	position:absolute;
	top:60vh;
	left:calc(50% - 9vw);
	z-index: 1;
	filter:none;
}

#inicioReintento{
	position:absolute;
	bottom:5vh;
	top:unset !important;
	font-size:calc( var(--inicio-span) - 60%) !important;
}

#datos{
	width:60vw;
	height:3vh;
	position:absolute;
	bottom:10vh;
	left:calc(50% - 30vw);
}

#datos span{
	position:absolute;
	right:0;
	top:0;
	left:unset;
	width:10%;
	height:100%;
	font-size:3vh;
	font-weight:lighter;
}

#barraDatos{
	position:absolute;
	top:calc(1.5vh - 20%);
	width:90%;
	height:40%;
	background-color:#cac0c0;
}

#progresoDatos{
	width:0%;
	height:100%;
	background-color:red;
}

/* Ventana cervezas */
.saldo{
	height:100vh;
	width: 20vw;
	position:absolute;
	right:0;
	will-change: transform;
	transform:translateX(200%);
	/*box-shadow:0px 0px 1px 1px;*/
}

.saldo.saldo-animation{
	transform: none;
	transition: transform var(--saldo-animation) ease-in;
}

.saldo.saldo-animation-out{
	transform: translateX(200%);
	transition: transform var(--saldo-animation) ease-out;
}

.saldo-texto{
	font-size:var(--saldo);
	width:100%;
	position:absolute;
	top:1vmin;
	/*mix-blend-mode:difference;*/
	z-index:99;
}

.saldo > span{
	font-size:var(--saldo);
	position:absolute;
	width:100%;
	top:7vmin;
	right:0;
	/*mix-blend-mode:difference;*/
	z-index:99;
}

#medidor, #progreso{
	background-color:transparent;
	width:100%;
	height:100%;
}

#medidor{
	position:absolute;
	bottom:0;
	background-color:#675c5c63;
}

#progreso{
	--position:-250px;
	background-image:url("img/cerveza.jpg");
	background-repeat:no-repeat;
	background-position-y:var(--position);
	background-size:100% calc(100% + (var(--position) * -1));
}

.cervezas{
	height:100vh;
	width: 80vw;
	padding:2px;
	will-change: transform;
	transform: translateX(-100%);
}

.cervezas.cervezas-animation{
	transform: none;
	transition: transform var(--cervezas-animation) ease-in;
}

.cervezas.cervezas-animation-out{
	transform: translate(-100%);
	transition: transform var(--cervezas-animation) ease-out;
}

.cerveza{
	padding: 5px 1px;
	height: 100%;
	display:inline-block;
	border-radius:2px;
	margin:0 2px;
	/*box-shadow:0px 0px 1px 1px;*/
	overflow: hidden;
	background-color:#675c5c63;
}

.nombre > span{
	white-space: nowrap;
	font-size:var(--nombre-span);
	display:block;
	width: 100%;
}

.nombre div{
	font-size:var(--nombre-div);
}

.consumo{
	margin: 20% 0;
}

.total{
	font-size:var(--total);
}

.caudal{
	font-size:var(--caudal);
}

.cerveza1{
	width:calc(100% - 4px);
}

.cerveza2{
	width:calc(50% - 4px);
}

.cerveza3{
	width:calc(33.3% - 4px);
}

.cerveza4{
	width:calc(25% - 4px);
}

#btnTerminar {
	--width:40vmin;
	position: absolute;
	bottom: .5vh;
	left: calc( 40vw - (var(--width)/2) );
	width: var(--width);
	height: 8vmin;
	line-height:100%;
	background-color: #2c8e2c;
	border:none;
	font-size: var(--btnTerminar);
	border-radius: 0px;
	padding:0;
}

#msjRetire {
	--width:70vmin;
	position: absolute;
	bottom: .5vh;
	left: calc( 40vw - (var(--width)/2) );
	width: var(--width); 
	height: 8vmin;
	line-height:100%;
	background-color: #d02a1e;
	font-size: var(--msjRetire);
	border-radius: 0px;
	animation:terminar 1.3s infinite linear;
}

@keyframes terminar {
  0%{opacity:1}
  50%{opacity:.1}
  100%{opacity:1}
}

.adminLog{
	height:50vh;
	overflow:auto;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
	text-shadow: none;
}

thead tr{
	background-color:#8a7a7a;
	border:8px solid grey;
	font-size:var(--thead-tr);
	color:white;
}

td{
	font-size:var(--td);
}

hr{
	width:90%;
}

.adminEditar{
	height:50vh;
	text-align:center;
	overflow:auto;
}

h3{
	font-size:var(--adminEditar-h3);
	padding: 20px 0;
}

.adminEditar table{
	width:50%;
	margin:0 auto;
	font-size:var(--adminEditar-table);
}
	
input{
	margin: 5px 5px;
	border:none;
	padding:2px 10px;
	font-size:var(--input);
	font-weight:normal;
	text-align:left;
	background-color:#d0b3b3a8;
	border-radius:2px;
	color:white;
}

#btnEditar{
	margin-top:20px;
	padding: 10px 20px;
	border-radius:2px;
	border:none;
	color:white;
	background-color:#2c8e2c;
	font-size:var(--btnEditar);
}

#btnApagar{
	width:7vw;
	height:7vw;
	position:absolute;
	right:1vw;
	bottom:1vh;
	background-image:url("img/apagar.png");
	background-repeat:no-repeat;
	background-position:-1px -1px;
	background-size:7.2vw;
	background-color:#ab9e9e;
	box-sizing:border-box;
	border:none;
	border-radius:100%;
}
